# Dependencias
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Archivos de entorno
.env
.env.local
.env.*.local

# Logs
logs
*.log

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Directorios de IDE/Editor
.idea/
.vscode/
*.swp
*.swo

# Archivos de construcción/distribución
dist/
build/
coverage/

# Archivos temporales
*.tmp
*.temp
.cache/

# Archivos de base de datos local
*.sqlite
*.db

# Vercel
.vercel
.vercel/

# Otros
.npm/
.yarn/
.pnp/
.pnp.js 