/**
 * Estilos para formularios y controles de entrada
 */

.form-input {
    background-color: #f9fafb;
    border: 2px solid #d1d5db;
    color: #111827;
    font-size: 0.875rem;
    border-radius: 0.5rem;
    width: 100%;
    padding: 0.625rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    outline: none;
}

.form-select {
    background-color: #f9fafb;
    border: 2px solid #d1d5db;
    color: #4b5563;
    font-size: 0.875rem;
    border-radius: 0.5rem;
    outline: none;
    width: 100%;
    padding: 0.625rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: border-color 0.2s;
}

.form-select:focus {
    border-color: #3b82f6;
    box-shadow: none;
}

.form-checkbox {
    width: 1rem;
    height: 1rem;
    color: #2563eb;
    background-color: #f3f4f6;
    border: 2px solid #d1d5db;
    border-radius: 0.25rem;
    outline: none;
}

.form-input:disabled {
    background-color: #e5e7eb;
    cursor: not-allowed;
    opacity: 0.75;
}

/* Estilos para el switch */
.switch {
    font-size: 14px;
    position: relative;
    display: inline-block;
    width: 48px;
    height: 24px;
}

.switch input {
    opacity: 1;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    background: #fff;
    transition: .4s;
    border-radius: 30px;
    border: 1px solid #ccc;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 16px;
    left: 2px;
    top: 0;
    bottom: 0;
    background-color: white;
    box-shadow: 0 2px 5px #999999;
    transition: .4s;
}

input:checked + .slider {
    background-color: #3b82f6;
    border: 1px solid transparent;
}

input:checked + .slider:before {
    transform: translateX(1.5em);
}

/* Eliminar flechas del input number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

/* Eliminar outline negro al focus */
.quantity-input:focus {
    outline: none;
    box-shadow: none;
    border-color: #e5e7eb;
}

.number-input-container {
    width: 120px; /* Contenedor más pequeño */
}

.number-input {
    width: 50px; /* Input más pequeño */
}

.number-button {
    width: 35px; /* Botones más pequeños */
    height: 35px;
}

.modal-content {
    max-height: 80vh;
    overflow-y: auto;
}

/* Estilo para el scroll */
.modal-content::-webkit-scrollbar {
    width: 8px;
}

.modal-content::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

.modal-content::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.modal-content::-webkit-scrollbar-thumb:hover {
    background: #555;
}

